[submodule "src/goldilocks"]
	path = src/goldilocks
	url = https://github.com/stef/ed448goldilocks.git
[submodule "src/tests/munit"]
	path = src/tests/munit
	url = https://github.com/nemequ/munit.git
