Source: libsphinx
Section: utils
Priority: optional
Maintainer: Stefan Marsiske <sphinx@ctrlc.hu>
Build-Depends: debhelper-compat (= 13), libsodium-dev (>= 1.0.18), dh-exec (>=0.3)
Standards-Version: 4.5.1
Homepage: https://github.com/stef/libsphinx
Rules-Requires-Root: no

Package: libsphinx
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description:  Low-level SPHINX password storage library
 SPHINX is an information-theoretically secure  cryptographic
 password storage protocol with much stronger security
 guarantees than your average password manager.

Package: libsphinx-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libsphinx (= ${binary:Version}), ${misc:Depends}
Description: Development files for libsphinx.
 SPHINX is an information-theoretically secure  cryptographic
 password storage protocol with much stronger security
 guarantees than your average password manager.
